In [1]:
import statfin

In [2]:
db = statfin.Vero()
db.Vero

statfin.PxWebAPI
  url: https://vero2.stat.fi/PXWeb/api/v1/fi/Vero
  title: Vero
  index:
    (l) Elinkeinoverotilasto         1. Elinkeinovero
    (l) Henkiloasiakkaiden_tuloverot 2. Henkilöasiakkaiden tulovero
    (l) Kiinteistoverot              3. Kiinteistövero
    (l) Verotulojen_kehitys          4. Verotulojen kehitys
    (l) Valmistevero                 5. Valmistevero
    (l) Autovero                     6. Autovero
    (l) Tulorekisteri                7. Ennakonpidätyksen alaisten ansiotulojen kuukausitilasto

In [3]:
tbl = db.Vero.Henk.lopulliset.tulot._101
tbl.Erä

statfin.Variable
  code: Erä
  text: Erä
  values:
    HVT_TULOT_10   1. Verotuspäätöksen saajien lukumäärä
    HVT_TULOT_20   1.1 Yleisesti verovelvolliset
    HVT_TULOT_30   1.2 Rajoitetusti verovelvolliset, joilla VML-vaatimus
    HVT_TULOT_40   1.3 Muut rajoitetusti verovelvolliset
    HVT_TULOT_50   2. Tulot yhteensä
    HVT_TULOT_60   3. Veronalaiset tulot yhteensä
    HVT_TULOT_70   4. Ansiotulot yhteensä
     ... and 219 more

In [4]:
tbl.Erä.find("Eläke")

[Value('HVT_TULOT_280', '4.2.1 Eläketulot'),
 Value('HVT_TULOT_290', '4.2.1.1 Kansaneläke'),
 Value('HVT_TULOT_300', '4.2.1.2 Takuueläke'),
 Value('HVT_TULOT_310', '4.2.1.3 KELA:n maksama perhe-eläke'),
 Value('HVT_TULOT_320', '4.2.1.4 Työ-, virka- ja yrittäjäeläke yms.'),
 Value('HVT_TULOT_330', '4.2.1.5 Tapaturma-, liikennevahinko- ja potilasvakuutuseläke'),
 Value('HVT_TULOT_340', '4.2.1.6 Eläketuki'),
 Value('HVT_TULOT_2360', '4.13.2 Puhdas eläketulo ulkomailta'),
 Value('HVT_TULOT_1060', '10.1 YEL-työtulo (Yrittäjän eläkelaki 2 § ja 67 §)'),
 Value('HVT_TULOT_1070', '10.2 MYEL-työtulo (Maatalousyrittäjän eläkelaki 2 § ja 73 §)')]

In [5]:
db = statfin.Vero()
table = db.Vero.Henk.lopulliset.tulot._101
query = table.query(Erä = "HVT_TULOT_280")
df = query()
df

,Verovuosi,Erä,Tulonsaajaryhmä,Tuloluokka,Sum,N,Mean,Q1,Q3,P10,P20,P30,P40,P50,P60,P70,P80,P90,Sum_muutos,N_muutos
0,2014,HVT_TULOT_280,Y,SS,2.857435e+10,1612986.0,17715.0,10399.0,22226.0,6552.0,9171.0,11458.0,13366.0,15187.0,17540.0,20498.0,24303.0,30890.0,NaN,NaN
1,2014,HVT_TULOT_280,Y,1,1.501984e+08,79071.0,1900.0,802.0,2864.0,418.0,698.0,927.0,1209.0,1571.0,1948.0,2530.0,3203.0,3997.0,NaN,NaN
2,2014,HVT_TULOT_280,Y,2,1.455787e+09,176201.0,8262.0,8205.0,8930.0,5845.0,7536.0,8869.0,8920.0,8920.0,8920.0,8921.0,9131.0,9581.0,NaN,NaN
3,2014,HVT_TULOT_280,Y,3,4.214108e+09,348990.0,12075.0,10962.0,13648.0,10081.0,10670.0,11247.0,11803.0,12345.0,12878.0,13390.0,13879.0,14361.0,NaN,NaN
4,2014,HVT_TULOT_280,Y,4,4.938286e+09,310165.0,15921.0,15201.0,18018.0,12168.0,14906.0,15430.0,15864.0,16392.0,17007.0,17671.0,18375.0,19124.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3635,2023,HVT_TULOT_280,7,23,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3636,2023,HVT_TULOT_280,7,24,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3637,2023,HVT_TULOT_280,7,25,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3638,2023,HVT_TULOT_280,7,26,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3639,2023,HVT_TULOT_280,7,27,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN